.box {
  /*box-shadow: 0 0 9px 0px #363535;*/
  /*background: #00AEFF;*/
  display: inline-block;
  margin: 3% 1%;
  /*padding: 30px 0;*/
  text-align: center;
  width: 22.5%;
  height: 150px;
}
img{
	width: 250px;
}